.itensMenu10{
    background-color: #7c8f5b;
}
.dadosAtuais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tabelaHorarios {
    width: 100%; 
    table-layout: fixed;
    border-collapse: collapse;
}

.tabelaHorarios thead th,
.tabelaHorarios tbody td {

    width: 33.33%; 
    text-align: left; 
    padding: 8px;
}


.pesoDefinido {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%; 
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.pesoDefinido h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}


.pesoDefinido p {
    font-size: 3em; 
    font-weight: bold; 
    color: #007bff;
    margin: 0; 
    line-height: 1.2; 
}


.pesoDefinido p strong {
    font-size: 1em;
}


.pesoDefinido p:last-child { 
    font-size: 1.2em; 
    color: #666;
    font-style: italic;
    font-weight: normal; 
}


.pesoDefinido h2 {
    margin-bottom: auto;
}

.pesoDefinido h2 {
    margin-bottom: 20px;
}
.ambienteHr{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}
h1{
    font-size: 20px;
}

#pesoBase{
    height: 20px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #bbb;
    padding-left: 10px;

}
input[type="number"]:focus {
    border-color: #556B2F;
    box-shadow: 0 0 5px rgba(85, 107, 47, 0.5);
    background-color: #fff;
}

input[type="time"] {
    width: 210px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: white;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="time"]:focus {
    border-color: #556B2F;
    box-shadow: 0 0 5px rgba(85, 107, 47, 0.5);
    background-color: #fff;
}

.botaoCadastrar{
    padding: 7px;
    border: 1px solid #bbb;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.botaoCadastrar:hover{
    background-color: #556b2f3d;
    padding: 8px;
}

li{
    text-decoration: none;
}
