{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listarBalanca.css') }}">
    <title>Listar balanças</title>
{% endblock %}
{% block content %}
    <div class="listaUsers">
    {% if balancas|length> 0 %}
        <h1>Lista de balanças</h1>
        <div class="tableConteiner">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tópico</th>
                        <!-- <th>Última leitura</th> -->
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Localizacao</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for balanca in balancas %}
                    <tr>
                        <td>{{ balanca.device_name }}</td>
                        <td>{{ balanca.topico_balanca }}</td>
                        <td>{{ balanca.marca }}</td>
                        <td>{{ balanca.modelo }}</td>
                        <td>{{ balanca.localizacao_fisica }}</td>
                        {% if balanca.status_operacional == "Online" %}
                            <td>Online</td>
                        {% else %}
                            <td>Offline</td>
                        {% endif %}
                        <td><a href="http://localhost:8080/editarBalanca?id={{balanca.id}}">Editar</a></td>
                        <td><a href="http://localhost:8080/del_balanca?id={{balanca.id}}">Excluir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <p>Ainda não possuem balancas registrados</p>
        <form  action= "http://localhost:8080/cadastrarBalanca">
            <p><input type= "submit" value= "Adicionar Balanca  "/></p>
        </form>
    {% endif %} 
        </div>
    </div>
{% endblock %}
