{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dadosAtuais.css') }}">
    <title>Dados atuais</title>
{% endblock %}

{% block content %}
<div class="dadosAtuais">

    <div class="card pesoDefinido">
        <h2>📏 Peso Ideal Atual</h2>
        {% if despejos %}
            <p><strong>{{ despejos[-1].peso }} kg</strong></p>
        {% else %}
            <p>Sem dados de peso cadastrado.</p>
        {% endif %}
    </div>

    <div class="card ambienteHr">
        <h2>🕑 Horários Definidos para Despejo</h2>
        {% if despejos %}
            <table class="tabelaHorarios">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Horário</th>    
                        <th>Peso Relacionado (kg)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for despejo in despejos %}
                        <tr>
                            <td>{{ despejo.id }}</td>
                            <td>{{ despejo.data_hora.strftime('%H:%M') }}</td>
                            <td>{{ despejo.peso }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Sem horários cadastrados.</p>
        {% endif %}
    </div>

    <div class="card pesoDefinido">
        <h2>⚖️ Peso Atual</h2>
            <p><strong>10 kg</strong></p>
    </div>

    <div class="card pesoDefinido">
        <h2>💧 Umidade Atual</h2>
            <p><strong>40%</strong></p>
    </div>

    <div class="card pesoDefinido">
        <h2>🚨 Status Motor</h2>
            <p><strong>Fechado</strong></p>
    </div>

</div>
{% endblock %}
