{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrarUser.css') }}">
    <title>Editar usuário</title>
{% endblock %}
{% block content %}
    <div class="cadastroUser">
        <h1>Editar usuário: {{ user.username }}</h1>

        <form class="formUser" action="{{ url_for('user_blueprint.update_user', id=user.id) }}" method="post">

            <div class="formEsq">
                <div class="label">
                    <div class="text"><label for="username">Nome usuário:</label></div>
                    <div class="text"><label for="email">Email:</label></div>
                    <div class="text"><label for="telefone">Telefone:</label></div>
                </div>

                <div class="inputdiv">
                    <input class="input" type="text" id="username" name="username" value="{{ user.username }}" required>
                    <input class="input" type="email" id="email" name="email" value="{{ user.email }}" required>
                    <input class="input" type="text" id="telefone" name="telefone" value="{{ user.telefone }}" required>
                </div>
            </div>

            <div class="formDir">
                <div class="label">
                    <div class="text"><small>(Deixe em branco para não alterar)</small></div>
                    <div class="text"><label for="password">Nova Senha:</label></div>
                    <div class="text"><label for="role_id">Tipo de usuário:</label></div>
                </div>

                <div class="inputdiv">
                    <input class="input" type="password" id="password" name="password" placeholder="********">
                    <select name="role_id" required class="input">
                        <option value="" disabled>Selecione uma função</option>
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if role.id == user.role_id %}selected{% endif %}>
                                {{ role.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <input class="botaoCadastrar" type="submit" value="Salvar " />
        </form>
    </div>
{% endblock %}
