{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historico.css') }}">
    <title>Histórico</title>
{% endblock %}

{% block content %}
    <div class="historico">
        <h1>Histórico</h1>
        <div class="tableContainer">
            <table>
                <thead>
                    <tr>
                        <th>Data/Hora</th>
                        <th>Quantidade Definida</th>
                        <th>Umidade</th>
                        <th>Peso Restante</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in historico %}
                    <tr>
                        <td>{{ item.data_hora }}</td>
                        <td>{{ item.quantidade_definida }}kg</td>
                        <td>{{ item.umidade }}</td>
                        <td>{{ item.peso_restante }}g</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
