{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listarUser.css') }}">
    <title>Listar usuários</title>
{% endblock %}
{% block content %}
    <div class="listaUsers">
        <h1>Lista de usuários</h1>
        <div class="tableConteiner">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Tipo de usuário</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telefone }}</td>
                        <td>{{ user.role_type_ }}</td>
                        <td>
                            <a href="{{ url_for('user_blueprint.editarUsuario', id=user.id) }}">Editar</a>
                            <a href="{{ url_for('user_blueprint.delete_user', id=user.id) }}" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
